{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}{{ form.media }}{% endblock %}

{% block title %}Create File/Directory{% endblock %}

{% block content %}


<h1>Create File/Directory</h1>
<div class="row">
  <div class="col-md-5">
        {% if error_message %}
      {{ error_message }}
      <p><a href="{% url 'gitusers:create_file' username=object.owner slug=object.slug %}">Go back</a></p>

    {% else %}
      <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Create" />
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
