{% extends 'base.html' %}

{% block extra_head %}{{ form.media }}{% endblock %}

{% block title %}Forked Repos{% endblock %}

{% block content %}


<h1>Forked Repos of "<a href="{% url 'gitusers:repo_detail' username=orig_author slug=orig_repo  %}">{{ orig_author }}/{{ orig_repo }}</a>"</h1>

<ul>
{% for repo in repos %}

<li><a href="{% url 'gitusers:index' username=repo.owner %}">{{ repo.owner}}</a>/<a href="{% url 'gitusers:repo_detail' username=repo.owner slug=repo.name  %}">{{ repo.name }}</a> - {{ repo.description}}</li>

{% endfor %}
</ul>
{% endblock %}
