<div class="navbar navbar-toolbar">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a data-toggle="dropdown" class="navbar-brand dropdown-toggle" href="#">
                 {% if branchname %} {{branchname}} {% else %} master {% endif %}
                    <b class="caret"></b>
                </a>
            <ul class="navbar-brand dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            {% for branch in branches %}
                <li>
                    <a href="#" tabindex="-1">
                        {{ branch }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="{% if tab == 'files' %}active{% endif %}"><a href="#">Files</a></li>
        <!-- change branchname according to selection -->
        <li class="{% if tab == 'commits' %}active{% endif %}"><a href="#">Commits</a></li>
        <li class="{% if tab == 'tags' %}active{% endif %}"><a href="#">Tags</a></li>
    </ul>

    <ul class="nav nav-pills pull-right">
            {% if is_owner %}
            <li role="presentation"><a href="{% url 'gitusers:create_folder' username=object.owner slug=object.slug %}">New folder</a></li>
            <li role="presentation"><a href="{% url 'gitusers:create_file' username=object.owner slug=object.slug %}">New file</a></li>
            <li role="presentation"><a href="{% url 'gitusers:setting' username=object.owner slug=object.slug %}">Change name or desc</a></li>
            <li role="presentation"><a href="{% url 'gitusers:delete' username=object.owner slug=object.slug %}">Delete</a></li>
            {% else %}
            {% if request.user.is_authenticated %}<li role="presentation"><a href="{% url 'gitusers:fork' username=object.owner slug=object.slug %}">Fork</a></li>{% endif %}
            {% endif %}
    </ul>

</div>

{% if last_commit %}
<div class="alert alert-info">
    <strong> Last Commit Message: {{last_commit.message}} </strong>
    <br/>
    <span class="text-muted">{{last_commit.author.name}}</span>
    <a href="#" class="pull-right text-muted">
        Latest commit
        <span style="color:#333;">
            {{last_commit.oid}}
        </span>
    </a>
</div>
{% endif %}