{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}{{ form.media }}{% endblock %}

{% block title %}Rename Forked Repo{% endblock %}

{% block content %}


<h1>Rename Forked Repo</h1>
<div class="row">
  <div class="col-md-5">
    {{ message }}

    {% if error_message %}
    	{{ error_message }}
    	<p><a href="{% url 'gitusers:repo_detail' username=object.owner slug=object.slug %}">Go back</a></p>

    {% endif %}
    	<form action="" method="post" novalidate>
    	    {% csrf_token %}
    	    {{ form|crispy }}
    	    <input type="submit" id="btnSubmit" value="Rename Forked Repo" />
    	</form>
  </div>
</div>



{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
$("#btnSubmit").click(function () {
    setTimeout(function () { disableButton(); }, 0);
});

function disableButton() {
    $("#btnSubmit").prop('disabled', true);
}
});
</script>
{% endblock %}
