{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Repository Setting{% endblock %}

{% block content %}

<h1>Repository Setting</h1>
{% if error_message %}
	{{ error_message }}


{% else %}
<p><a href="{% url 'gitusers:repo_detail' username=object.owner slug=object.slug  %}"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> Go back to repo</a></p>
	<form action="" method="post" enctype='multipart/form-data'>
	    {% csrf_token %}
	    {% bootstrap_form form %}
	    <input type="submit" value="Submit" />
	</form>
	<p><hr></p>
	<p><strong>Add/Remove Editors</strong> (full read/write/delete permissions, <i>be very careful</i>)
	</p>
		{% for editor in view.editors %}
			{{ editor }} <a href="{% url 'gitusers:remove_editor' username=object.owner slug=object.slug editor=editor %}">[X]</a>{% if not forloop.last %},{% endif %}
		{% endfor %}
	</p>
	<a href="{% url 'gitusers:add_editor' username=object.owner slug=object.slug %}">Add Editor</a>
{% endif %}

{% endblock %}
