{% load static %}
<!DOCTYPE html>
<html>
<title>Background | CSDT</title>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500|Khula:300,400,700" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
        </script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
        </script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/csdt.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/template.css' %}" type="text/css" />
    <!-- <link rel="stylesheet" href="https://csdt.rpi.edu/culture/quilting/template.css" type="text/css" /> -->
    <link rel="stylesheet" href="{% static 'css/tutorial.css' %}" type="text/css" />
</head>

{% include url %}
</html>
