workspace/
eclipse/
*~
~*
*.swp
*.bak
*.pyc
*.sqlite3
python/
media/
collected_static/
local_settings.py

# Vagrant stuff
.vagrant
*.log
node_modules/
package-lock.json
.coverage
git_repos/
flake8.txt
to-do.txt
