<div class="stuck">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav">
            <li class="active"><a href="./index.html">Background</a></li>
            <li class="indented"><a href="./geesbend.html">Gee's Bend Quilts</a></li>
            <li class="indented"><a href="./appalachian.html">Appalachian Quilts</a></li>
            <li class="indented"><a href="./lakota.html">Lakota Quilts</a></li>
            <li class="indented"><a href="./anishinaabe.html">Anishinaabe Quilts</a></li>
            <li><a href="./tutorial.html">Tutorial</a></li>
            <li><a href="./software.html">Software</a></li>
            <li class="indented"><a href="./geesbendchallenge.html">Gee's Bend Challenge</a></li>
            <li class="indented"><a href="./appalachianchallenge.html">Appalachian Challenge</a></li>
            <li class="indented"><a href="./lakotachallenge.html">Lakota Star Challenge</a></li>
            <li class="indented"><a href="./tips.html">Tips</a></li>
            <li><a href="./teaching.html">Teaching Materials</a></li>
        </ul>
    </div>
</div>