{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<h1>{{ object.name }}</h1>
<h2>{{ object.description }}</h2>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="div-container pull-right">
<ul class="nav nav-pills">
    <li role="presentation"><a href="{% url 'setting' object.name %}">Change name or desc</a></li>

    <li role="presentation"><a href="{% url 'delete' object.name %}">Delete</a></li>
    <li role="presentation" class="disabled"><a href="#">Settings</a></li>
</ul>
</div>

</br>
    <ul>
       {% for obj in tree %}
        <li><a href="{{ obj.type }}/{{ obj.name }}">{{ obj.name }}{% if obj.type == 'tree' %}{% endif %}</a></li>
       {% endfor %}
    </ul>
    {% if readme %}
    <div class="readme-bar">
        <div class="file-head">README.md</div>
        {{ readme.data }}
    </div>
    {% else %}
    {% if empty %}
        <div class="file-head">This repository is empty.</div>
    {% else %}
        <div class="file-head">README does not exists.</div>
    {% endif %}
{% endif %}

{% endblock %}

{% block js %}
{% endblock %}