{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.1/muuri.min.js"></script>
<link rel="stylesheet" href="{% static 'tempstatic/sidebar.css' %}">
<script src="{% static 'tempstatic/sidebar.js' %}"></script>
{% endblock %}

{% block content %}

<section class="sidebar">

      <h2 class="section-title"><span>Sidebar</span></h2>

      <div class="board">
        <div class="board-column sidebar">
          <div class="board-column-header">Sidebar</div>
          <div class="board-column-content">
            <div class="board-item"><div class="board-item-content"><span>Item #</span>1</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>2</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>3</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>4</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>5</div></div>
          </div>
        </div>
        {% comment %}
        <div class="board-column working">
          <div class="board-column-header">Working</div>
          <div class="board-column-content">
            <div class="board-item"><div class="board-item-content"><span>Item #</span>6</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>7</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>8</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>9</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>10</div></div>
          </div>
        </div>
        <div class="board-column done">
          <div class="board-column-header">Done</div>
          <div class="board-column-content">
            <div class="board-item"><div class="board-item-content"><span>Item #</span>11</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>12</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>13</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>14</div></div>
            <div class="board-item"><div class="board-item-content"><span>Item #</span>15</div></div>
          </div>
        </div>
        {% endcomment %}
      </div>

    </section>
    {% comment %}
<button class="submit-btn">submit</button>
{% endcomment %}

{% endblock %}

{% block js %}

{% endblock %}
